site_name: "de.NBI Cloud Wiki"                         
docs_dir: /srv_root/docs/wiki
site_dir: /var/www/html/wiki
theme:
  name: material
  palette:
    primary: 'light blue'
    accent: 'light blue'
  logo: 'img/denbi.svg'
  favicon: 'img/denbi.svg'
repo_name: 'deNBI/cloud-user-docs'
repo_url: 'https://github.com/deNBI/cloud-user-docs' 
edit_uri: blob/master/wiki/
plugins:
 - search
 - pdf-export:
     enabled_if_env: ENABLE_PDF_EXPORT
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - toc:
      permalink: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  
extra_javascript:
  - matomo.js
  
nav:
  - 'Home' : index.md
  - 'Registration' : registration.md
  - 'Portal' : 
    - 'Allocation': Portal/allocation.md
    - 'Modification': Portal/modification.md
    - 'Project Overview': Portal/project_overview.md
    - 'Simple VM Project': Portal/simple_vm_project.md
    - 'Volumes': Portal/volumes.md
    - 'Snapshots': Portal/snapshots.md
  - 'OpenStack Quickstart' : quickstart.md
  - 'Concept' : 
    - 'OpenStack Basics' : Concept/basics.md
    - 'OpenStack Components' : Concept/openstack.md
    - 'Flavors' : Concept/flavors.md
    - 'Images' : Concept/images.md
    - 'Security' : Concept/security.md
  - 'Tutorials' :
    - 'Access de.NBI Virtual Machines from Windows 10' : Tutorials/Win10_SSH/index.md
    - 'Access a SimpleVM with Mosh' : Tutorials/Mosh/index.md
    - 'Ansible Automation' : Tutorials/Ansible/index.md
    - 'Bibigrid' : Tutorials/BiBiGrid/index.md
    - 'Blast on BiBiGrid' : Tutorials/BlastOnBiBiGrid/index.md
    - 'Object Storage' : Tutorials/ObjectStorage/index.md
    - 'Save FloatingIPs' : Tutorials/SaveFloatingIPs/index.md
    - 'Set up RStudio' : Tutorials/RStudio_Server/index.md
    - 'Theia Web IDE': Tutorials/TheiaIde/index.md
    - 'UserData' : Tutorials/UserData/index.md
    
  - 'FAQ' : 'FAQ.md'
  - 'Compute Center Specific' :
    - 'Giessen' : Compute_Center/Giessen.md
    - 'Bielefeld' : Compute_Center/Bielefeld.md
    - 'Heidelberg Uni' : Compute_Center/Heidelberg.md
    - 'Heidelberg DKFZ' : Compute_Center/Heidelberg-DKFZ.md
    - 'Tuebingen' : Compute_Center/Tuebingen.md
    - 'Freiburg' : Compute_Center/Freiburg.md
  - 'Cloud Admin':
    - 'Jenkins + Haproxy with JuJu': cloud_admin/juju_jenkins.md
    - 'Configure OpenStack to use Elixir AAI via OpenID Connect': cloud_admin/elixir_OIDC.md 
    - 'Register your identity provider for ELIXIR': cloud_admin/identity_provider.md
